[Unit]
Description=Weekly pkgstats submission

[Timer]
OnCalendar=weekly
AccuracySec=1d
RandomizedDelaySec=3d
Persistent=true

[Install]
WantedBy=timers.target
