[Unit]
Description=Submit pkgstats
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pkgstats submit --quiet
DynamicUser=true
CapabilityBoundingSet=
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
SystemCallFilter=@system-service
SystemCallArchitectures=native
DevicePolicy=closed
LockPersonality=true
PrivateUsers=true
PrivateDevices=true
ProtectClock=true
ProtectHome=true
ProtectHostname=true
ProtectControlGroups=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
