[Unit]
Description=Submit pkgstats
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pkgstats submit --quiet
DynamicUser=true
